/* _arch-vars-start */
$list-active-color: rgba(253,83,95,1);
$tabs-dark: rgba(205,50,50,1);
$toolbar-base-color: rgba(211,50,50,1);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
